@import "bourbon/bourbon";

//$navbar-width: 328px;
$navbar-width: 280px;

$navbar-text-margin: 54px;
$navbar-item-height: 46px;

$navbar-margin-icon: 17px;

$list-item-height: 43px;

$font-size-normal: 11px;
$font-size-small: 9px;

html, body {
    height: 100%;
    width: 100%;
	margin: 0;
	font-size: $font-size-normal;
	color: #d9d9d9;
	font-family: 'Roboto', serif;
}

.font-small {
	font-size: $font-size-small;
}

#mapContainer {
	height: 100%;
	width: 100%;
	margin: auto;
	position: relative;
    overflow: hidden;
}

#map {
	height: 100%;
	width: 100%;
}

.ui-tooltip.smart-sab-tooltip {
	color: #afafaf;
	background: #414141;
	border-color: #505050;
	border-width: 1px;
	font-family: 'Roboto';
	font-size: 12px;
	p {
		margin: 0;
		color: #fff;
	}
}

//nadpisany leflet
.leaflet-bar {
	a {
		background-color: #2e2e2e;
		color: #1ec536;
	}
	&.localization {
		a div {
			background-color: #1ec536;
			width: 9px;
			height: 9px;
			position: relative;
			top: 50%;
			left: 50%;
			border-radius: 50%;
			@include transform(translate(-50%, -50%));
		}
	}
}

#privacy-policy {
    background-color: rgba(255, 255, 255, 0.701);
	position: absolute;
    right: 0px;
    bottom: 16px;
	height: 16px;
	line-height: 16px;
	width: 149px;
    z-index: 1;
	text-align: center;
	a {
		color: #0078A8;
		text-decoration: none;
		&:hover {
    		text-decoration: underline;
		}
	}
}

.no-close .ui-dialog-titlebar-close {
  display: none;
}

#error {
	position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background: url('../images/icons/background-green.png');
	text-align: center;
	z-index: 9999;
	.error {
		// height: 300px;
		width: 300px;
		max-width: 80%;
		position: relative;
		top: 50%;
		left: 50%;
		@include transform(translate(-50%, -50%));
		border-radius: 10px;
		background: white;
		-webkit-box-shadow: 0 -1px 2px 0 #C9C9C9;
		box-shadow: 0 -1px 2px 0 #C9C9C9;
		
		.info {
			padding: 5px;
			
			.icon-error {
				height: 30px;
				display: block;
				margin: 5px auto;
			}
			
			span {
				text-align: center;
				font-size: 14px;
				color: #111;
			}
		}
		
		.button {
			height: 25px;
			padding: 10px;
			border-top: solid 1px;
		}
	}
	
	.logo {
		background: url('../images/icons/logo_white.png') no-repeat center;
		height: 40px;
		position: absolute;
		bottom: 7%;
		width: 100%;
		background-size: contain;
	}
}

#message {
	position: absolute;
    width: 100%;
    height: 150px;
    top: 30px;
    
	div {
		text-align: center;
		font-size: 20px;
		background: #776F6F;
		opacity: 0.9;
		text-align: center;
		z-index: 9999;
		max-width: 340px;
		margin: 0 auto;
		border-radius: 10px;
		padding: 10px;
	}
}