
div#categories-navbar {
	position: absolute;
	z-index: 1001;
	width: $navbar-width;
	//padding-left: 10px;
	//padding-right: 5px;
	left: 0px;
	top: 0px;
	height: 100%;
	background-color: #2e2e2e;
	box-shadow: 0 1px 5px rgba(0,0,0,.65);
	border-bottom-right-radius: 4px;
	border-top-right-radius: 4px;
	
	webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

	
	&.hide {
		left: -$navbar-width;
	}
	
	> div.bottom-logo {
		height: 50px;
		width: 150px;
    	margin-left: 20px;
		background-image: url('../images/logo_footer.png');
		background-repeat: no-repeat;
		position: absolute;
		left: $navbar-width;
		bottom: 0px;
	}
	> div.icon {
		height: 40px;
		width: 40px;
		background-color: #2e2e2e;
		position: absolute;
		left: $navbar-width - 60px;
		cursor: pointer;
		margin: 10px;
		
		.arrow {
			width: 8px;
    		height: 14px;
			top: 50%;
			left: 50%;
			position: absolute;
			@include transform(translate(-50%, -50%) rotate(180deg));
		}
	}
	> div.header {
		height: 60px;
		> *{
			height: 60px;
			margin: 0;
			display: inline-block;
			vertical-align: top;
			line-height: 60px;
		}
		
		.logo {
			width: $navbar-text-margin - $navbar-margin-icon;
			margin-left: $navbar-margin-icon;
			margin-top: (60px - 19px)/2;
			background-image: url("../images/icons/mainmenu_ikona1.png");
			background-size: 19px 19px;
			background-repeat: no-repeat;
		}
		
		.project-name {
			// width: calc(100% - #{$navbar-text-margin});
			width: 220px;
		}
	}
	
	div#filter {
		
		> * {
			height: $navbar-item-height;
			margin: 0;
			display: inline-block;
			vertical-align: top;
			line-height: $navbar-item-height;
    		padding: 0;
		}
		.icon {
			width: $navbar-text-margin - $navbar-margin-icon;
			margin-left: $navbar-margin-icon;
			margin-top: ($navbar-item-height - 19px)/2;
			background-repeat: no-repeat;
			&.search {
				background-image: url("../images/icons/mainmenu_ikona2.png");
				background-size: 19px 19px;
			}
			&.advancedSearch {
				background-image: url('../images/icons/mapa_final_menu.png');
				background-size: 15px 15px;
			}
		}
		input {
			border: 0px;
			// width: calc(100% - 20px - 10px - #{$navbar-text-margin});
			width: 196px;
			font-size: $font-size-normal;
			padding: 0 10px;
			background: none;
			
			color: #d9d9d9;
			font-family: 'Roboto', serif;
			
			@include placeholder {
				color: rgba(217, 217, 217, 0.3);
				font-family: 'Roboto', serif;
				opacity: 0.7;
			}
		}
		
		#advancedFilter {
			// width: calc(100% - 5px - 54px);
			width: 221px;
			height: auto;
    		#filterTitle{
				cursor: pointer;
				width: 100%;
				span {
					margin: 0px;
					text-transform: uppercase;
				}
				.icon {
					height: 46px;
					width: 41px;
					position: absolute;
					right: 0;
					cursor: pointer;
					margin: 0;
					display: inline-block;
					background-image: url("../images/icons/mainmenu_strzalka.png");
					background-size: 8px 14px;
					background-repeat: no-repeat;
					margin-top: 14.5px;
					&:hover {
						background-image: url("../images/icons/mainmenu_strzalka_kolor.png");
					}
					&.expand {
						@include transform(rotate(90deg));
						background-position: 0 30px;
					}
				}
				
				div.tringle {
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 4px 4.5px 0 4.5px;
					border-color: #7a7a7a transparent transparent transparent;
				}
			}

			#selectBox{
				display: block;
				width: $navbar-width - 15px - $navbar-text-margin;
				float: right;
				margin-right: 15px;
				line-height: 30px;
				select {
					width: 100%;
					background-color: #2e2e2e;
					font-size: $font-size-normal;
					color: #d9d9d9;
					font-family: 'Roboto', serif;
					border: 0;
					@include appearance(none);
				}
			}

			
		}
	}
}