
div#leftNav {
	position: absolute;
	z-index: 1001;
	width: $navbar-width;
	//padding-left: 10px;
	//padding-right: 5px;
	left: 0px;
	top: 0px;
	height: 100%;
	background-color: #2e2e2e;
	box-shadow: 0 1px 5px rgba(0,0,0,.65);
	border-bottom-right-radius: 4px;
	border-top-right-radius: 4px;
	
	webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

	
	&.hide {
		left: -$navbar-width;
	}
	
	> div.icon {
		height: 40px;
		width: 40px;
		background-color: #2e2e2e;
		position: absolute;
		left: $navbar-width;
		cursor: pointer;
		margin: 10px;
		transition: all 0.5s ease;
		box-shadow: 0 1px 5px rgba(0,0,0,.65);
		border-radius: 4px;
		&.inside {
			left: $navbar-width - 60px;
			box-shadow: none;
		}
		.menu {
			width: 18px;
			height: 16px;
			top: 50%;
			left: 50%;
			position: absolute;
			@include transform(translate(-50%, -50%));
		}
	}
	
	> div.icon-route {
		height: 40px;
		width: 40px;
		background-color: #2e2e2e;
		position: absolute;
		left: $navbar-width;
		top: 50px;
		cursor: pointer;
		margin: 10px;
		transition: all 0.5s ease;
		box-shadow: 0 1px 5px rgba(0,0,0,.65);
		border-radius: 4px;
		.icon-distance {
			width: 30px;
    		height: 30px;
			top: 50%;
			left: 50%;
			position: absolute;
			@include transform(translate(-50%, -50%));
			background-image: url('../images/icons/trasa.png');
			background-size: contain;
		}
	}
	
	> div.bottom-logo {
		height: 50px;
		width: 150px;
    	margin-left: 20px;
		background-image: url('../images/logo_footer.png');
		background-repeat: no-repeat;
		position: absolute;
		left: $navbar-width;
		bottom: 0px;
	}
	
	> div.header {
		height: 60px;
		> *{
			height: 60px;
			margin: 0;
			display: inline-block;
			vertical-align: top;
			line-height: 60px;
		}
		
		.logo {
			width: $navbar-text-margin - $navbar-margin-icon;
			margin-left: $navbar-margin-icon;
			margin-top: (60px - 19px)/2;
			background-image: url("../images/icons/mainmenu_ikona1.png");
			background-size: 19px 19px;
			background-repeat: no-repeat;
		}
		
		.project-name {
			// width: calc(100% - #{$navbar-text-margin});
			width: 220px;
		}
	}
	
	div#filter {
		
		> * {
			height: $navbar-item-height;
			margin: 0;
			display: inline-block;
			vertical-align: top;
			line-height: $navbar-item-height;
    		padding: 0;
		}
		.icon {
			width: $navbar-text-margin - $navbar-margin-icon;
			margin-left: $navbar-margin-icon;
			margin-top: ($navbar-item-height - 19px)/2;
			background-repeat: no-repeat;
			&.search {
				background-image: url("../images/icons/mainmenu_ikona2.png");
				background-size: 19px 19px;
			}
			&.advancedSearch {
				background-image: url('../images/icons/mapa_final_menu.png');
				background-size: 15px 15px;
			}
		}
		input {
			border: 0px;
			// width: calc(100% - 20px - 10px - #{$navbar-text-margin});
			width: 196px;
			font-size: $font-size-normal;
			padding: 0 10px;
			background: none;
			
			color: #d9d9d9;
			font-family: 'Roboto', serif;
			
			@include placeholder {
				color: rgba(217, 217, 217, 0.3);
				font-family: 'Roboto', serif;
				opacity: 0.7;
			}
		}
		
		#advancedFilter {
			// width: calc(100% - 5px - 54px);
			width: 221px;
			height: auto;
    		#filterTitle{
				cursor: pointer;
				width: 100%;
				span {
					margin: 0px;
					text-transform: uppercase;
				}
				.icon {
					height: 46px;
					width: 41px;
					position: absolute;
					right: 0;
					cursor: pointer;
					margin: 0;
					display: inline-block;
					background-image: url("../images/icons/mainmenu_strzalka.png");
					background-size: 8px 14px;
					background-repeat: no-repeat;
					margin-top: 14.5px;
					&:hover {
						background-image: url("../images/icons/mainmenu_strzalka_kolor.png");
					}
					&.expand {
						@include transform(rotate(90deg));
						background-position: 0 30px;
					}
				}
				
				div.tringle {
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 4px 4.5px 0 4.5px;
					border-color: #7a7a7a transparent transparent transparent;
				}
			}

			#selectBox{
				display: block;
				width: $navbar-width - 15px - $navbar-text-margin;
				float: right;
				margin-right: 15px;
				line-height: 30px;
				
				.filter-icon {
					position: absolute;
					display: block;
					left: 30px;
					height: 30px;
					background-position: 0 7.5px;
					background-size: 15px 15px;
				}
				
				select {
					width: 100%;
					background-color: #2e2e2e;
					font-size: $font-size-normal;
					color: #d9d9d9;
					font-family: 'Roboto', serif;
					border: 0;
					@include appearance(none);
				}
			}

			
		}
	}
	
	#categoryFilter {
		
		> * {
			height: $navbar-item-height;
			margin: 0;
			display: inline-block;
			vertical-align: top;
			line-height: $navbar-item-height;
    		padding: 0;
		}
		.icon {
			width: $navbar-text-margin - $navbar-margin-icon;
			margin-left: $navbar-margin-icon;
			margin-top: ($navbar-item-height - 19px)/2;
			background-repeat: no-repeat;
			&.categories {
				background-image: url('../images/icons/mainmenu_ikona3.png');
				background-size: 19px 19px;
			}
		}
		.title {
			width: 221px;
			.icon {
				height: 46px;
				width: 41px;
				position: absolute;
				right: 0;
				cursor: pointer;
				margin: 0;
				display: inline-block;
				background-image: url("../images/icons/mainmenu_strzalka.png");
				background-size: 8px 14px;
				background-repeat: no-repeat;
				margin-top: 14.5px;
				&:hover {
					background-image: url("../images/icons/mainmenu_strzalka_kolor.png");
				}
				&.expand {
					@include transform(rotate(90deg));
					background-position: 0 30px;
				}
			}
		}
	}
	
	div#list {
		
		// height: calc(100% - 178px);
		position: absolute;
		top: 237px;
		bottom: 0px;
		width: 100%;
		
		&.short {
			// height: calc(100% - 345px);
			position: absolute;
			top: 404px;
			bottom: 0px;
		}
		
		> * {
			height: 40px;
			line-height: 40px;
			width: 100%;
		}
		
		.list-items {
			// height: calc(100% - 46px);
			position: absolute;
			top: 46px;
			bottom: 0px;
			height: auto;
			@include scroll(#2e2e2e,#20c336);
		}
		
		.header {
			height: $navbar-item-height;
			line-height: $navbar-item-height;
			width: 100%;
			> * {
				height: 100%;
				display: inline-block;
				vertical-align: top;
			}
			> .icon {
				width: $navbar-text-margin - $navbar-margin-icon;
				margin-left: $navbar-margin-icon;
				margin-top: ($navbar-item-height - 19px)/2;
				background-image: url("../images/icons/mainmenu_ikona4.png");
				background-size: 19px 19px;
				background-repeat: no-repeat;
				&.arrow {
					height: 46px;
					width: 41px;
					position: absolute;
					right: 0;
					cursor: pointer;
					margin: 0;
					display: inline-block;
					background-image: url("../images/icons/mainmenu_strzalka.png");
					background-size: 8px 14px;
					background-repeat: no-repeat;
					margin-top: 14.5px;
					&.expand {
						@include transform(rotate(90deg));
						background-position: 0 30px;
					}
					&:hover {
						background-image: url("../images/icons/mainmenu_strzalka_kolor.png");
					}
				}
			}
			> p {
				margin:0;
				padding: 0;
				// width: calc(100% - #{$navbar-text-margin} -41px);
				width: 185px;
				cursor: pointer;			
			}
		}
		
		div.item {
			&.grouped-job-offer-item{

				background-color: #2e2e2e;
				.subitems {
					background-color: rgba(255, 255, 255, 0.05);
				}
				

				// &:nth-child(2n+1) {
				// 	background-color: rgba(255, 255, 255, 0.05);
					
				// 	border-bottom-right-radius: 4px;
				// 	border-top-right-radius: 4px;
				// 	.subitems {
				// 		background-color: #2e2e2e;
				// 	}
				// }
				height: auto;
				&.activted {
					.profession .title .prof-name {
						text-decoration: underline;
						color: #20c336;
					}
				}
				
				&:not(.activted):hover .arrow {
					background-image: url("../images/icons/mainmenu_strzalka_kolor.png");
				}
				.profession{
					height: $list-item-height;
					width: 100%;
					//padding-left: 5px;
					.toggle{
						display: inline-block;
						width: $navbar-text-margin - 5px;
						height: $list-item-height;
						vertical-align: top;
						margin-left: 5px;
						> .icon {
							height: 100%;
							margin-left: 14px;
							margin-top: ($list-item-height - 6px)/2;
							background-image: url("../images/icons/ofertaLista_strzalka.png");
							background-size: 13px 6px;
							background-repeat: no-repeat;

						}
					}
					.title {
						// width: calc(100% - #{$navbar-text-margin} - 25px);
						width: 191px;
						display: inline-block;
						// position: absolute;
					}
					
					> .icon {
						
						// display: inline-block;
						// width: 41px;
						// height: 100%;
						
						display: inline-block;
						width: 20px;
						height: 100%;
						float: right;
						
						&:hover .arrow {
							background-image: url("../images/icons/mainmenu_strzalka_kolor.png");
						}
						
						.arrow {
							background-image: url("../images/icons/mainmenu_strzalka.png");
							background-size: 8px 14px;
							background-repeat: no-repeat;
							width: 8px;
    						height: 14px;
							margin-top: ($list-item-height - 14px)/2 ;
							
							
							
							//@include transform(rotate(90deg));
						}
						
						&.icon-expand {
							.arrow {
								@include transform(rotate(90deg));
								
								margin-top: ($list-item-height - 8px)/2 ;
							}
						}
					}
				}
				
				.subitems{
					.job-offer-item{
						margin-left: $navbar-text-margin;
						div.title {
							height: $list-item-height;
							line-height: $list-item-height;
							span {
								//color: white;
								//font-size: 14px;
								width: 100%;
								overflow: hidden;
								white-space: nowrap;
								text-overflow: ellipsis;
								display: inline-block;
							}
						}
					}
				}
			}
			
			// &:hover{
    		// 	background-color: rgba(0, 0, 0, 0.3);
			// 	cursor: pointer;
			// }
			div.title {
				height: $list-item-height;
				line-height: $list-item-height;
				> span {
					//color: white;
					width: 100%;
					
					span.prof-name {
						// max-width: calc(100% - 25px);
						max-width: 166px;
						overflow: hidden;
						white-space: nowrap;
						text-overflow: ellipsis;
						display: inline-block;
					}
					
					span.count {
						width: 20px;
    					vertical-align: top;
						display: inline-block;
					}
				}
			}
		}
	}
}